@inject SignInManager<ApplicationUser> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Filmat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Filmat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js%22%3E"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js%22%3E"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="@Url.Content("~/css/global_style.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/moviesFinal.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)
   
</head>

<body>
    <header>
        <div class="navbar">
            <img src="~/images/logofinal2.png" class="logo" />

            <ul>
                @if (signInManager.IsSignedIn(User))
                {
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Movies" asp-action="Index">Movies</a></li>
                    <li>
                        <div class="dropdown">
                            <button>Categories</button>
                            <div class="dropdown-options">
                                <a asp-controller="Movies" asp-action="MoviesByCategory" asp-route-category="Action">Action</a>
                                <a asp-controller="Movies" asp-action="MoviesByCategory" asp-route-category="Comedy">Comedy</a>
                                <a asp-controller="Movies" asp-action="MoviesByCategory" asp-route-category="Drama">Drama</a>
                                <a asp-controller="Movies" asp-action="MoviesByCategory" asp-route-category="horror">Horror</a>
                            </div>
                        </div>
                    </li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {

                        <li><a asp-controller="Administration" asp-action="ListUsers">Users</a></li>
                        <li><a asp-controller="Administration" asp-action="ListRoles">Roles</a></li>
                        <li><a asp-controller="Logsat" asp-action="Index">Logs</a></li>

                    }

                    <li>
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button class="buttoni" type="submit">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }
            </ul>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
