@model IEnumerable<Movie>
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link href="@Url.Content("~/css/homepageTest.css")" rel="stylesheet" />

<div class="banner">
    <div class="navbar">
        <img src="~/images/logofinal2.png" class="logo"/>
        <ul>
            
            <li><a asp-controller="Movies" asp-action="Index">Movies</a></li>

            @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {

            <li><a asp-controller="Administration" asp-action="ListUsers">Users</a></li>
            <li><a asp-controller="Administration" asp-action="ListRoles">Roles</a></li>
            <li><a asp-controller="Logsat" asp-action="Index">Logs</a></li>
            
            }

             @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                <button class="buttoni" type="submit">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
        </ul>
    </div>

    <div class="content">
        <h1>Watch your favorite movies,<br /> TV shows and more.</h1>
        <h3>Ready to watch? Enter your email and get access to unlimited fun!</h3>
        <div>
            <button class="button" type="submit" onclick="location.href='@Url.Action("Register", "Account")'"><span></span>Sign In</button>
            <button class="button" type="submit" onclick="location.href='@Url.Action("Login", "Account")'"><span></span>Log In</button>
        </div>
        <h1 style="color: #05b4e4; padding-top:10%; text-shadow: 0 0 25px #05b4e4;">Top 3 movies:</h1>
    </div>
    
</div> 

<div>

    
   
    <div class="anisa">
        
        @foreach (var item in Model)
        {
            <a asp-controller="Movies" asp-action="PlayMovie" asp-route-id="@item.Id">
        <div class="frem">
            <div class="center-cant">
                    <img src="@item.ImageURL" alt="">
                <div class="row">
                    <p>@item.Name</p>
                    <h2>@item.ViewCount views</h2>
                </div>
            </div>
        </div>
      </a>
        }
    </div>
  

    

</div>




@*@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
 <link href="@Url.Content("~/css/movies.css")" rel="stylesheet" />
 <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" />


<div class="container">
        <div class="title">
            <div class="content">
                <h1>Watch your favorite movies, TV shows and more.</h1>
                <div class="login">
                    <h3>Ready to watch? Enter your email and get access to unlimited fun!</h3>
                    <div class="email">
                        <button><a asp-controller="Account" asp-action="Register">Sign In</a></button>
                        <button><a asp-controller="Account" asp-action="Login">Log In</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Most viewed movies are:</h1>

    @foreach(var item in Model){
<div class="card">
 
    <a>
        <div class="img1"><img src="@item.ImageURL" alt="@item.Name"></div>
        <div class="img2"><img src="@item.ImageURL"></div>
        <div class="title">@item.Name</div>
        <div class="text">@item.Description</div>
        <a href="#"><div class="catagory">@item.MovieCategory <i class="fas fa-film"></i></div></a>
        <a href="#"><div class="views">@item.Duration min <i class="far fa-eye"></i> </div></a>
    </a>
</div>
}




<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Filma<span>Njezetepese</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            
            <a href="#">About</a>
        </p>

        <p class="footer-company-name">Copyright © 2023 <strong>Filma25</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        
    </div>


  *@