@model IEnumerable<Movie>

@{
ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/css/movies.css")" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    <div class="card">
        <a >
            <div class="img1"><img src="@item.ImageURL" alt="@item.Name"></div>
            <div class="img2"><img src="@item.ImageURL"></div>
            <div class="title">@item.Name</div>
            <div class="text">@item.Description</div>
            <a href="#"><div class="catagory">@item.MovieCategory <i class="fas fa-film"></i></div></a>
            <a href="#"><div class="views">@item.Duration min <i class="far fa-eye"></i> </div></a>
        </a>
    </div>
}