@model IEnumerable<Movie>
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" />

<div class="banner">
    <div class="navbar">
        <img src="~/images/logofinal2.png" class="logo"/>
        <ul>
             @if (signInManager.IsSignedIn(User))
             {
                  <li><a asp-controller="Movies" asp-action="Index">Movies</a></li>
                  <li>
                       <form method="post" asp-action="Logout" asp-controller="Account">
                           <button class="buttoni" type="submit">
                               Logout @User.Identity.Name
                           </button>
                       </form>
                  </li>
             }
        </ul>
    </div>

    <div class="content">
        <h1>Watch your favorite movies,<br /> TV shows and more.</h1>
        <h3>Ready to watch? Enter your email and get access to unlimited fun!</h3>
        <div>
            <button class="button" type="submit" onclick="location.href='@Url.Action("Register", "Account")'"><span></span>Sign In</button>
            <button class="button" type="submit" onclick="location.href='@Url.Action("Login", "Account")'"><span></span>Log In</button>
        </div>
    </div>
    
</div> 

<div class="most-watched">
    <h1>Top 3 most watched movies:</h1>
    <div class="anisa">
        
        
        @foreach (var item in Model)
        {
            <a asp-controller="Movies" asp-action="PlayMovie" asp-route-id="@item.Id">
        <div class="frem">
            <div class="center-cant">
                    <img src="@item.ImageURL" alt="">
                <div class="row">
                    <p>@item.Name</p>
                    <h2>@item.ViewCount views</h2>
                </div>
            </div>
        </div>
      </a>
        }
    </div>

</div>


<div class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-snapchat"></ion-icon></a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <p>All Rights Reserved | 2023</p>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

