@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
 <link href="@Url.Content("~/css/movies.css")" rel="stylesheet" />
 <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" />

    


     <div class="container">
        <nav class="navbar">
            <div class="left">
                <img src="~/images/logo.png" alt="logo">
            </div>
            @*<div class="right">
                @*<select name="language" class="language">
                    <option value="English">English</option>
                    <option value="Albanian">Albanian</option>
                </select>
                
            </div>*@
        </nav>

        <div class="title">
            <div class="content">
                <h1>Watch your favorite movies, TV shows and more.</h1>
                <div class="login">
                    <h3>Ready to watch? Enter your email and get access to unlimited fun!</h3>
                    <div class="email">
                        <button><a asp-controller="Account" asp-action="Register">Sign In</a></button>
                        <button><a asp-controller="Account" asp-action="Login">Log In</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Most viewed movies are:</h1>

    @foreach(var item in Model){
<div class="card">
 
    <a>
        <div class="img1"><img src="@item.ImageURL" alt="@item.Name"></div>
        <div class="img2"><img src="@item.ImageURL"></div>
        <div class="title">@item.Name</div>
        <div class="text">@item.Description</div>
        <a href="#"><div class="catagory">@item.MovieCategory <i class="fas fa-film"></i></div></a>
        <a href="#"><div class="views">@item.Duration min <i class="far fa-eye"></i> </div></a>
    </a>
</div>
}




<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Filma<span>Njezetepese</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            
            <a href="#">About</a>
        </p>

        <p class="footer-company-name">Copyright © 2023 <strong>Filma25</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        
    </div>


  